@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    background-color: rgb(238, 214, 214);
    

}

header{
    display: flex;   
    flex-direction: column;  
    background-color:#ff0000 ;
    color: rgb(0, 0, 0);   
    width: 100%;
    height: 100%;
}

header .yo{
    border-radius: 7rem;
    max-width:100%;
    max-height: 11rem;
    padding: 1rem;
    position:relative;
    top: 6rem;
    left: 15rem;  
    
}



header h1 {
    padding: 0 1rem;    
    font-family: "Cedarville Cursive", cursive;
  font-weight: 700px;
  font-size: 80px;
    
}

header span {
   padding: 33px;
    color:rgb(238, 214, 214) ;
    font-family: "Quattrocento Sans", sans-serif;
    

    
}
nav{
    position: relative;
    bottom: 15rem;
    font-family: "Quattrocento Sans", sans-serif;
    padding: 1rem;
}
ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  
  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid rgb(238, 214, 214);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: #ff0000;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: #ff0000; 
  }
  
  ul{
    margin-top:0;
    padding: 0;
    width: 200px;    
  
  }
  
  
  li {
    display: block;
    background: rgb(238, 214, 214);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ff0000;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }

  a {
text-decoration: none;
color: #ff0000;
  }
  .lf{
    text-align: center;
  }

  .lf h2{
    font-family: "Quattrocento Sans", sans-serif;
    font-size: small;
   text-align: center;
   padding: 1rem 0;
  }

  .lf .cuadritos{
width: 10%;
height: 6%;
align-items: center;
  }

  footer{
    font-family: "Quattrocento Sans", sans-serif;
font-size: smaller;
text-align: center;
padding: 1.5rem 0;
  }




  
  @media only screen and (min-width: 829px) {
nav{
  display: flex;
  flex-direction: column;
  position: relative;
  top: .5rem;
  
}

input {
  display: contents;
}

label {
  
  display: none; 
}



ul{
  display: contents;

}
  }

@media only screen and (min-width: 830px){
header .yo{
  position: relative;
  top: 35rem;
  left: 97rem;

}





  

   nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    
    padding: 0 18rem;
    font-size: 15px;
    width: 100%;
    /* position: relative; */
    /* top: .5rem; */
    
  }
  li{
  padding: 1.5rem;  
  }
  input {
    display: contents;
  }
  
  label {
    
    display: none; 
  }
  
  
  
  ul{
    display: contents; 

}

.lf{
  width: 50%;
  position: relative;
 left: 30rem;
}


.cuadritos{
  width: 1rem;
  height: 1rem;
}
}